/* ani1은 왼쪽에서 오른쪽으로 나타나는 애니메이션  */
.ani1{
    transition:all 1s ease 0s;
    opacity: 0;
    transform: translateX(-20px);
}
.ani1.on{
    opacity: 1;
    transform: translateX(0);
}
/* ani2는 제자리에서 뿅 나오는 에니메이션 */
.ani2{
    opacity: 0;
    transition:all 0.5s ease 0s;
    transform: scale(0.8);
}
.ani2.on{
    opacity: 1;
    transform: scale(1);
}
